MONGODB_URI_PRODUCTION=mongodb+srv://<usuario>:<contraseña>@<host>/<base_de_datos>?retryWrites=true&w=majority
PORT=3000

EMAIL_SERVICE=gmail
HOST_GMAILTRAP=smtp.gmail.com
PORT_GMAILTRAP=587
GMAIL_USER=tu_correo@epn.edu.ec
GMAIL_APP_PASSWORD=tu_contraseña_segura

